body{
  max-width: 100%;
}
.nav-item {
  display: inline-flex; 
}

.nav-item {
  margin: 0 1rem; 
}
.navbar-nav{
  max-width: fit-content;
}

.nav-link,
.login-button {
  color: #495e57; 
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}


.nav-link:hover,
.login-button:hover {
  background-color: #F4CE14; 
}


header {
  padding-top: 150px;
  width: auto;
  background-color: #495e57;
}

header section {
width:85%;
margin-left: 10%;
padding-bottom: 50px;
color: #EDEFEE;

}


h2 {
  color: #F4CE14;
  font-size: 40pt;
}

h3 {
  font-size: 20pt;
}

p {
  font-size: 16pt;
  max-width: 65ch;
  line-height: 1.5;
}

button {
  background-color: #F4CE14;
  color: black;
  padding: 20px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 16pt;
  font-weight: bold;
}

header img {
  height: 400px;
  border-radius: 12pt;
}

footer section {

  justify-items: center;
  width:70%;
    margin-left: 4%;
  gap: 20px;
  }


footer {
  padding: 20px;
}

footer img {
  height:300px;
}

.booking-form {
  background-color: #EE9972;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  max-width: 450px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 24px; 
  margin-bottom: 20px; 
  
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
 border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #495e57;
  color: #fff;
}
.button-reserve{
  background-color: #EE9972;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}




@media (max-width: 700px) {
  header section, footer section {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) {
footer section {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display:grid;
}
header section {
  grid-template-columns: 1fr 1fr;
  display:grid;
  justify-items: center;
}
.navbar-toggler {
  display: block; 
}

.navbar-brand {
  flex: 1;
}

.nav-container {
  flex-direction: column;
  align-items: flex-start; 
}

.navbar-nav {
  flex-direction: column;
  margin-top: 1rem;
}
}